/* ProductList.css */
.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list-item {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}